<div>
  <ion-text>
    <p>En el área de ciencias, califica las habilidades que buscas en las siguientes categorías:</p>
  </ion-text>

  <ion-list *ngIf="userData?.anioLectivo === 'Segundo'" formGroupName="wanted_skills_sec_science">
    <ion-item>
      <ion-label position="floating">Experimentos prácticos de fenómenos físicos y químicos</ion-label>
      <ion-select id="lab" formControlName="lab" placeholder="Elige una opción">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Estudio del comportamiento y procesos mentales humanos</ion-label>
      <ion-select id="psychology" formControlName="psychology" placeholder="Elige una opción">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Creación de textos interesantes y bien estructurados</ion-label>
      <ion-select id="creativeWritingSec" formControlName="creativeWritingSec" placeholder="Elige una opción">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="userData?.anioLectivo === 'Tercero'" formGroupName="wanted_skills_third_science">
    <ion-item>
      <ion-label position="floating">Creación de textos interesantes y bien estructurados</ion-label>
      <ion-select id="creativeWriting" formControlName="creativeWriting" placeholder="Elige una opción">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Lectura e interpretación de planos técnicos</ion-label>
      <ion-select id="drawingScience" formControlName="drawingScience" placeholder="Elige una opción">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Realización de experimentos y proyectos científicos en laboratorio</ion-label>
      <ion-select id="research" formControlName="research" placeholder="Elige una opción">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Estudio avanzado de los seres vivos y sus procesos</ion-label>
      <ion-select id="biology" formControlName="biology" placeholder="Elige una opción">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Análisis de la forma y estructura de organismos vivos </ion-label>
      <ion-select id="morphology" formControlName="morphology" placeholder="Elige una opción">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Comprensión de los comportamientos y dinámicas sociales</ion-label>
      <ion-select id="sociology" formControlName="sociology" placeholder="Elige una opción">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Entendimiento de sistemas políticos y toma de decisiones públicas</ion-label>
      <ion-select id="politics" formControlName="politics" placeholder="Elige una opción">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cálculo de intereses, inversiones y análisis financiero básico</ion-label>
      <ion-select id="mathematics" formControlName="mathematics" placeholder="Elige una opción">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Aplicación avanzada de leyes y principios físicos</ion-label>
      <ion-select id="physics" formControlName="physics" placeholder="Elige una opción">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</div>