<router-outlet></router-outlet>
<nav class="bottom-nav">
    <a [routerLink]="['chats']" routerLinkActive="active" class="nav-item">
        <i class="material-icons"><app-messages-icon /></i>
        <span>Mensajes</span>
    </a>

    <a [routerLink]="['recomendados']" routerLinkActive="active" class="nav-item">
        <i class="material-icons"><app-recomendatio-icon /></i>
        <span>Descubrir</span>
    </a>
    
    <a [routerLink]="['grupos']" routerLinkActive="active" class="nav-item">
        <app-groups-icon class="ion-color" />
        <span>Grupos</span>
    </a>

    <a [routerLink]="['favoritos']" routerLinkActive="active" class="nav-item">
        <i class="material-icons"><app-star-icon /></i>
        <span>Favoritos</span>
    </a>

    <a [routerLink]="['configuraciones']" routerLinkActive="active" class="nav-item">
        <i class="material-icons"><app-settings-icon /></i>
        <span>Menú</span>
    </a>
</nav>