<router-outlet></router-outlet>
<nav class="bottom-nav">
    <a [routerLink]="['chats']" routerLinkActive="active" class="nav-item">
        <i class="material-icons"><app-messages-icon /></i>
        <span>Mensajes</span>
    </a>

    <a [routerLink]="['recomendados']" routerLinkActive="active" class="nav-item">
        <i class="material-icons"><app-recomendatio-icon /></i>
        <span>Recomendados</span>
    </a>

    <a [routerLink]="['configuraciones']" routerLinkActive="active" class="nav-item">
        <i class="material-icons"><app-settings-icon /></i>
        <span>Configuraciones</span>
    </a>
</nav>