<ion-content class="ion-padding">
  <section>
    <div>
      <h1>Crea una cuenta</h1>

      <div class="google-button-container">
        <app-google-button (onClick)="submitWithGoogle()"></app-google-button>
      </div>

      <form [formGroup]="form" (ngSubmit)="submit()">
        <div>
          <ion-label position="stacked" for="email">Correo</ion-label>
          <div class="input-with-icon">
            <ion-input type="email" name="email" id="email" placeholder="name@company.com"
              formControlName="email"></ion-input>
          </div>
          <small *ngIf="isRequired('email')">Este campo es requerido</small>
          <small *ngIf="hasEmailError()">Correo invalido</small>
        </div>

        <div>
          <ion-label position="stacked" for="password">Contraseña</ion-label>
          <div class="input-with-icon">
            <ion-input [type]="getPasswordInputType('password')" name="password" id="password" placeholder="••••••••"
              formControlName="password"></ion-input>
            <button type="button" class="toggle-password"
              (click)="$event.preventDefault(); $event.stopPropagation(); togglePasswordVisibility()">
              <app-eye-button />
            </button>
          </div>
          <small *ngIf="isRequired('password')">Este campo es requerido</small>
        </div>

        <div>
          <ion-label position="stacked" for="confirmPassword">Confirmar Contraseña</ion-label>
          <div class="input-with-icon">
            <ion-input [type]="getPasswordInputType('confirm')" name="confirmPassword" id="confirmPassword"
              placeholder="••••••••" formControlName="confirmPassword"></ion-input>
            <button type="button" class="toggle-password"
              (click)="$event.preventDefault(); $event.stopPropagation(); toggleConfirmPasswordVisibility()">
              <app-eye-button />
            </button>
          </div>
          <small *ngIf="isConfirmPasswordRequired()">Este campo es requerido</small>
          <small
            *ngIf="!passwordsMatch() && form.get('confirmPassword')?.touched && form.get('confirmPassword')?.value">
            Las contraseñas no coinciden
          </small>
        </div>

        <ion-button type="submit" expand="block">Crear</ion-button>

        <p>
          Ya tienes una cuenta? <a routerLink="/auth/sign-in">Iniciar sesión</a>
        </p>
      </form>
    </div>
  </section>
</ion-content>