<div>
  <ion-list *ngIf="userData?.anioLectivo === 'Segundo'" formGroupName="offer_skills_sec_ieme">
    <ion-item>
      <ion-label position="floating">Instalación y arreglo de sistemas eléctricos en casas y edificios</ion-label>
      <ion-select id="installationsSec" formControlName="installationsSec" placeholder="Elige una opción">
        <ion-select-option value="" disabled>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>
 
    <ion-item>
      <ion-label position="floating">Cálculo y armado de circuitos eléctricos</ion-label>
      <ion-select id="electricalEngSec" formControlName="electricalEngSec" placeholder="Elige una opción">
        <ion-select-option value="" disabled>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>
 
    <ion-item>
      <ion-label position="floating">Detección de fallas y reparación de equipos electrónicos básicos</ion-label>
      <ion-select id="electronicsSec" formControlName="electronicsSec" placeholder="Elige una opción">
        <ion-select-option value="" disabled>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>
 
    <ion-item>
      <ion-label position="floating">Construcción y programación de paneles eléctricos de control</ion-label>
      <ion-select id="automationElecSec" formControlName="automationElecSec" placeholder="Elige una opción">
        <ion-select-option value="" disabled>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
 
  <ion-list *ngIf="userData?.anioLectivo === 'Tercero'" formGroupName="offer_skills_third_ieme">
    <ion-item>
      <ion-label position="floating">Cálculo y armado de circuitos eléctricos</ion-label>
      <ion-select id="electricalEng" formControlName="electricalEng" placeholder="Elige una opción">
        <ion-select-option value="" disabled>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>
 
    <ion-item>
      <ion-label position="floating">Instalación y arreglo de sistemas eléctricos en casas y edificios</ion-label>
      <ion-select id="installations" formControlName="installations" placeholder="Elige una opción">
        <ion-select-option value="" disabled>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>
 
    <ion-item>
      <ion-label position="floating">Construcción y programación de paneles eléctricos de control</ion-label>
      <ion-select id="automationElec" formControlName="automationElec" placeholder="Elige una opción">
        <ion-select-option value="" disabled>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Detección de fallas y reparación de equipos electrónicos básicos</ion-label>
      <ion-select id="electronics" formControlName="electronics" placeholder="Elige una opción">
        <ion-select-option value="" disabled>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Manejo y control de equipos electrónicos de alta potencia</ion-label>
      <ion-select id="power" formControlName="power" placeholder="Elige una opción">
        <ion-select-option value="" disabled>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>
 
    <div *ngIf="userData?.mencion === 'Sistemas electricos de Potencia'">
      <ion-item>
        <ion-label position="floating">Reparación y mantenimiento de motores y equipos eléctricos</ion-label>
        <ion-select id="machines" formControlName="machines" placeholder="Elige una opción">
          <ion-select-option value="" disabled>Elige una opción</ion-select-option>
          <ion-select-option value="Alto">Alto</ion-select-option>
          <ion-select-option value="Medio">Medio</ion-select-option>
          <ion-select-option value="Bajo">Bajo</ion-select-option>
        </ion-select>
      </ion-item>
 
      <ion-item>
        <ion-label position="floating">Programación de equipos para automatizar procesos industriales</ion-label>
        <ion-select id="industrial" formControlName="industrial" placeholder="Elige una opción">
          <ion-select-option value="" disabled>Elige una opción</ion-select-option>
          <ion-select-option value="Alto">Alto</ion-select-option>
          <ion-select-option value="Medio">Medio</ion-select-option>
          <ion-select-option value="Bajo">Bajo</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Programación de pequeños controladores electrónicos</ion-label>
        <ion-select id="microcontrollersIeme" formControlName="microcontrollersIeme" placeholder="Elige una opción">
          <ion-select-option value="" disabled>Elige una opción</ion-select-option>
          <ion-select-option value="Alto">Alto</ion-select-option>
          <ion-select-option value="Medio">Medio</ion-select-option>
          <ion-select-option value="Bajo">Bajo</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
 
    <div *ngIf="userData?.mencion === 'Electronica digital'">
      <ion-item>
        <ion-label position="floating">Creación de proyectos con componentes electrónicos</ion-label>
        <ion-select id="appliedElectronics" formControlName="appliedElectronics" placeholder="Elige una opción">
          <ion-select-option value="" disabled>Elige una opción</ion-select-option>
          <ion-select-option value="Alto">Alto</ion-select-option>
          <ion-select-option value="Medio">Medio</ion-select-option>
          <ion-select-option value="Bajo">Bajo</ion-select-option>
        </ion-select>
      </ion-item>
 
      <ion-item>
        <ion-label position="floating">Montaje y ajuste de equipos de comunicación</ion-label>
        <ion-select id="communications" formControlName="communications" placeholder="Elige una opción">
          <ion-select-option value="" disabled>Elige una opción</ion-select-option>
          <ion-select-option value="Alto">Alto</ion-select-option>
          <ion-select-option value="Medio">Medio</ion-select-option>
          <ion-select-option value="Bajo">Bajo</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Armado y configuración de redes de computadoras</ion-label>
        <ion-select id="computersNetworks" formControlName="computersNetworks" placeholder="Elige una opción">
          <ion-select-option value="" disabled>Elige una opción</ion-select-option>
          <ion-select-option value="Alto">Alto</ion-select-option>
          <ion-select-option value="Medio">Medio</ion-select-option>
          <ion-select-option value="Bajo">Bajo</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </ion-list>
 </div>