<form [formGroup]="form" (ngSubmit)="submit()">
  <ion-list>
    <!-- Preguntas Generales -->
    <div *ngIf="page === 1">
      <app-preferences></app-preferences>
    </div>

    <!-- Preguntas de que carrera busca -->
    <div *ngIf="page === 2">
      <app-wanted-profession></app-wanted-profession>
    </div>

    <!-- Preguntas de que habilidades busca de la carrera -->
    <div *ngIf="page === 3">
      <ion-text>
        <h1>Habilidades específicas buscadas</h1>
      </ion-text>
      <app-ieme *ngIf="shouldShowComponent('ieme')"></app-ieme>
      <app-mcm *ngIf="shouldShowComponent('mcm')"></app-mcm>
      <app-ema *ngIf="shouldShowComponent('ema')"></app-ema>
      <app-mechatronics *ngIf="shouldShowComponent('mechatronics')"></app-mechatronics>
      <app-computing *ngIf="shouldShowComponent('computing')"></app-computing>
      <ion-text *ngIf="shouldShowComponent('sciences')">
        <p>Ciencias basicas</p>
      </ion-text>
    </div>

    <!-- Preguntas de sus habilidades -->
    <div *ngIf="page === 4">
      <ion-text>
        <h1>Habilidades propias</h1>
        <p>Califica tus habilidades en las materias de tu área</p>
      </ion-text>
      <app-pers-computing *ngIf="userData?.carrera === 'Informatica'"></app-pers-computing>
    </div>

    <!-- Botones de navegación -->
    <div class="ion-padding">
      <!-- Botón Atrás -->
      <ion-button expand="block" fill="outline" (click)="prevPage()" [disabled]="page === 1">
        Atrás
      </ion-button>

      <!-- Botón Siguiente (solo si no es la última página) -->
      <ion-button *ngIf="!isLastPage" expand="block" (click)="nextPage()" [disabled]="!isPageComplete(page)">
        Siguiente
      </ion-button>

      <!-- Botón Registrar (solo en la última página) -->
      <ion-button 
  *ngIf="isLastPage"
  expand="block" 
  type="submit" 
  (click)="submit()"
  [disabled]="!isPageComplete(page) || loading()">
  {{loading() ? 'Guardando...' : 'Registrar'}}
</ion-button>
    </div>

  </ion-list>
</form>