<ion-content>
    <div class="config-container">
      <div class="perfil" (click)="navigateTo()">
        <ion-avatar class="ion-avatar">
          <img 
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACklEQVR4nGMAAQAABQABDQottAAAAABJRU5ErkJggg==" 
            alt="Perfil"
          >
        </ion-avatar>
        <ion-text class="perfilTxt">Ver perfil</ion-text>
      </div>
  
      <div class="settings">
        <ion-button 
          expand="block" 
          fill="clear" 
          class="option theme-option"
        >
          Tema
        </ion-button>
  
        <ion-button 
          expand="block" 
          fill="clear" 
          class="option change-credentials"
        >
          Cambiar correo o contraseña
        </ion-button>
  
        <ion-button 
          expand="block" 
          fill="clear" 
          class="option report-error"
        >
          Reportar un error
        </ion-button>
  
        <ion-button 
          expand="block" 
          fill="clear" 
          class="option logout" 
          (click)="logOut()"
        >
          Cerrar sesión
        </ion-button>
      </div>
    </div>
  
    <ion-router-outlet></ion-router-outlet>
  </ion-content>