<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <label for="userName">Nombre de usuario:</label>
    <input
      type="text"
      name="userName"
      id="userName"
      formControlName="username"
      >
      <div *ngIf="form.controls['username'].invalid && form.controls['username'].touched">
        <small>Este campo es obligatorio</small>
      </div>
  </div>

  <div>
    <label for="user-name">Nombre:</label>
    <input
      type="text"
      name="user-name"
      id="user-name"
      formControlName="name"
    >
    <div *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
      <small>Este campo es obligatorio</small>
    </div>
  </div>

  <div>
    <label for="user-secName">Apellido:</label>
    <input
      type="text"
      name="user-secName"
      id="user-secName"
      formControlName="lastName"
    >
    <div *ngIf="form.controls['lastName'].invalid && form.controls['lastName'].touched">
      <small>Este campo es obligatorio</small>
    </div>
  </div>

  <div>
    <label for="user-course">Año lectivo:</label>
    <select
      id="user-course"
      formControlName="course"
    >
      <option value="" disabled selected>Elige una opción</option>
      <option value="primero">Primero</option>
      <option value="segundo">Segundo</option>
      <option value="tercero">Tercero</option>
    </select>
  </div>
  
  <div>
    <label for="user-profession">Carrera:</label>
    <select
      id="user-profession"
      formControlName="profession"
    >
      <option value="" disabled selected>Elige una opción</option>
      <option value="IEME">IEME</option>
      <option value="MCM">MCM</option>
      <option value="EMA">EMA</option>
      <option value="Mecatrónica">Mecatrónica</option>
      <option value="Informática">Informática</option>
      <option value="Ciencias">Ciencias</option>
    </select>
  
    <div [ngSwitch]="form.controls['profession'].value">
      <p *ngSwitchCase="'IEME'">Estás en la carrera de Instalaciones Eléctricas y Mantenimiento Electrónico (IEME).</p>

      <p *ngSwitchCase="'MCM'">Estás en la carrera de Mecanizado y Construcción de Piezas Metálicas (MCM).</p>

      <p *ngSwitchCase="'EMA'">Estás en la carrera de Electrónica y Mantenimiento Automotriz (EMA).</p>

      <p *ngSwitchCase="'Mecatrónica'">Estás en la carrera de Mecatrónica.</p>

      <p *ngSwitchCase="'Informática'">Estás en la carrera de Informática.</p>

      <p *ngSwitchCase="'Ciencias'">Estás en la carrera de Ciencias Básicas.</p>
      
      <p *ngSwitchDefault>Por favor, selecciona una opción válida.</p>
    </div>
  </div>

  <label>Para mejorar la experiencia al momento de recomendarte a otros usuarios, completa esta encuesta con tus preferencias de como eres y que tipo de personas buscas</label><br>
  <small>Del 1 al 5, califica cómo te consideras y qué nivel buscas en las siguientes características</small><br>
  
  <!--Compromiso-->

  <div formGroupName="preference">
    <!-- Compromiso -->
    <div formGroupName="commitment">Compromiso<br>
      <label for="sliderAutoCommitment">Autoevaluación:</label>
      <input
        type="range"
        id="sliderAutoCommitment"
        min="1"
        max="5"
        step="1"
        formControlName="auto"
      >
      <span>{{ form.get('preference.commitment.auto')?.value }}</span><br>
  
      <label for="sliderBuscadoCommitment">Valor buscado:</label>
      <input
        type="range"
        id="sliderBuscadoCommitment"
        min="1"
        max="5"
        step="1"
        formControlName="buscado"
      >
      <span>{{ form.get('preference.commitment.buscado')?.value }}</span>
    </div>
  
    <!-- Comunicación -->
    <div formGroupName="communication">Comunicación<br>
      <label for="sliderAutoCommunication">Autoevaluación:</label>
      <input
        type="range"
        id="sliderAutoCommunication"
        min="1"
        max="5"
        step="1"
        formControlName="auto"
      >
      <span>{{ form.get('preference.communication.auto')?.value }}</span><br>
  
      <label for="sliderBuscadoCommunication">Valor buscado:</label>
      <input
        type="range"
        id="sliderBuscadoCommunication"
        min="1"
        max="5"
        step="1"
        formControlName="buscado"
      >
      <span>{{ form.get('preference.communication.buscado')?.value }}</span>
    </div>
  
    <!-- Conocimientos Técnicos -->
    <div formGroupName="knowledge">Conocimientos Técnicos<br>
      <label for="sliderAutoKnowledge">Autoevaluación:</label>
      <input
        type="range"
        id="sliderAutoKnowledge"
        min="1"
        max="5"
        step="1"
        formControlName="auto"
      >
      <span>{{ form.get('preference.knowledge.auto')?.value }}</span><br>
  
      <label for="sliderBuscadoKnowledge">Valor buscado:</label>
      <input
        type="range"
        id="sliderBuscadoKnowledge"
        min="1"
        max="5"
        step="1"
        formControlName="buscado"
      >
      <span>{{ form.get('preference.knowledge.buscado')?.value }}</span>
    </div>
  
    <!-- Creatividad -->
    <div formGroupName="creativity">Creatividad<br>
      <label for="sliderAutoCreativity">Autoevaluación:</label>
      <input
        type="range"
        id="sliderAutoCreativity"
        min="1"
        max="5"
        step="1"
        formControlName="auto"
      >
      <span>{{ form.get('preference.creativity.auto')?.value }}</span><br>
  
      <label for="sliderBuscadoCreativity">Valor buscado:</label>
      <input
        type="range"
        id="sliderBuscadoCreativity"
        min="1"
        max="5"
        step="1"
        formControlName="buscado"
      >
      <span>{{ form.get('preference.creativity.buscado')?.value }}</span>
    </div>
  
    <!-- Liderazgo -->
    <div formGroupName="leadership">Liderazgo<br>
      <label for="sliderAutoLeadership">Autoevaluación:</label>
      <input
        type="range"
        id="sliderAutoLeadership"
        min="1"
        max="5"
        step="1"
        formControlName="auto"
      >
      <span>{{ form.get('preference.leadership.auto')?.value }}</span><br>
  
      <label for="sliderBuscadoLeadership">Valor buscado:</label>
      <input
        type="range"
        id="sliderBuscadoLeadership"
        min="1"
        max="5"
        step="1"
        formControlName="buscado"
      >
      <span>{{ form.get('preference.leadership.buscado')?.value }}</span>
    </div>
  
    <!-- Gestión del Tiempo -->
    <div formGroupName="time">Gestión del Tiempo<br>
      <label for="sliderAutoTime">Autoevaluación:</label>
      <input
        type="range"
        id="sliderAutoTime"
        min="1"
        max="5"
        step="1"
        formControlName="auto"
      >
      <span>{{ form.get('preference.time.auto')?.value }}</span><br>
  
      <label for="sliderBuscadoTime">Valor buscado:</label>
      <input
        type="range"
        id="sliderBuscadoTime"
        min="1"
        max="5"
        step="1"
        formControlName="buscado"
      >
      <span>{{ form.get('preference.time.buscado')?.value }}</span>
    </div>
  </div>
  
  
  
  

  <div>
    <button type="submit" [disabled]="loading()">{{loading() ? 'Cargando...' : 'Registrar'}}</button>
  </div>
</form>
  