<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <label for="userName">Nombre de usuario:</label>
    <input
      type="text"
      name="userName"
      id="userName"
      formControlName="nameUserU"
      >
      <div *ngIf="form.controls['nameUserU'].invalid && form.controls['nameUserU'].touched">
        <small>Este campo es obligatorio</small>
      </div>
  </div>

  <div>
    <label for="user-name">Nombre:</label>
    <input
      type="text"
      name="user-name"
      id="user-name"
      formControlName="nameUser"
    >
    <div *ngIf="form.controls['nameUser'].invalid && form.controls['nameUser'].touched">
      <small>Este campo es obligatorio</small>
    </div>
  </div>

  <div>
    <label for="user-secName">Apellido:</label>
    <input
      type="text"
      name="user-secName"
      id="user-secName"
      formControlName="secNameUser"
    >
    <div *ngIf="form.controls['secNameUser'].invalid && form.controls['secNameUser'].touched">
      <small>Este campo es obligatorio</small>
    </div>
  </div>

  <div>
    <label for="user-course">Año lectivo:</label>
    <select
      id="user-course"
      formControlName="courseUser"
    >
      <option value="" disabled selected>Elige una opción</option>
      <option value="primero">Primero</option>
      <option value="segundo">Segundo</option>
      <option value="tercero">Tercero</option>
    </select>
  </div>
  
  <div>
    <label for="user-profession">Carrera:</label>
    <select
      id="user-profession"
      formControlName="professionUser"
    >
      <option value="" disabled selected>Elige una opción</option>
      <option value="IEME">IEME</option>
      <option value="MCM">MCM</option>
      <option value="EMA">EMA</option>
      <option value="Mecatrónica">Mecatrónica</option>
      <option value="Informática">Informática</option>
      <option value="Ciencias">Ciencias</option>
    </select>
  
    <div [ngSwitch]="form.controls['professionUser'].value">
      <p *ngSwitchCase="'IEME'">Estás en la carrera de Instalaciones Eléctricas y Mantenimiento Electrónico (IEME).</p>

      <p *ngSwitchCase="'MCM'">Estás en la carrera de Mecanizado y Construcción de Piezas Metálicas (MCM).</p>

      <p *ngSwitchCase="'EMA'">Estás en la carrera de Electrónica y Mantenimiento Automotriz (EMA).</p>

      <p *ngSwitchCase="'Mecatrónica'">Estás en la carrera de Mecatrónica.</p>

      <p *ngSwitchCase="'Informática'">Estás en la carrera de Informática.</p>

      <p *ngSwitchCase="'Ciencias'">Estás en la carrera de Ciencias Básicas.</p>
      
      <p *ngSwitchDefault>Por favor, selecciona una opción válida.</p>
    </div>
  </div>

  <label>Para mejorar la experiencia al momento de recomendarte a otros usuarios, completa esta encuesta con tus preferencias de como eres y que tipo de personas buscas</label><br>
  <small>Del 1 al 5, califica cómo te consideras y qué nivel buscas en las siguientes características</small>
  <table>
    <tr>
      <th>Tu nivel</th>
      <th>Nivel Buscado</th>
    </tr>
    <th>Compromiso</th>
    <tr>
      <td><!--Auto-->
        <input
        type="number"
        name="compromiso_nivel"
        min="1"
        max="5"
        >
      </td>
      <td><!--Buscado-->
        <input
        type="number"
        name="compromiso_buscado"
        min="1"
        max="5"
        >
      </td>
    </tr>
    <th>Comunicaci&oacute;n</th>
    <tr>
      <td><!--Auto-->
        <input
        type="number"
        name="comunicacion_nivel"
        min="1"
        max="5"
        >
      </td>
      <td><!--Buscado-->
        <input type="number" name="comunicacion_buscado" min="1" max="5" />
      </td>
    </tr>
    <th>Conocimientos t&eacute;cnicos</th>
    <tr>
      <td><!--Auto-->
        <input
        type="number"
        name="conocimientos_tecnicos_nivel"
        min="1" max="5"
        >
      </td>
      <td><!--Buscado-->
        <input
        type="number"
        name="conocimientos_tecnicos_buscado"
        min="1"
        max="5"
        >
      </td>
    </tr>
    <th>Creatividad</th>
    <tr>
      <td><!--Auto-->
        <input type="number"
        name="creatividad_nivel"
        min="1"
        max="5"
        >
      </td>
      <td><!--Buscado-->
        <input
        type="number"
        name="creatividad_buscado"
        min="1"
        max="5"
        >
      </td>
    </tr>
    <th>Liderazgo</th>
    <tr>
      <td><!--Auto-->
        <input
        type="number"
        name="liderazgo_nivel"
        min="1"
        max="5"
        >
      </td>
      <td><!--Buscado-->
        <input
        type="number"
        name="liderazgo_buscado"
        min="1"
        max="5"
        >
      </td>
    </tr>
    <th>Tiempo</th>
    <tr>
      <td><!--Auto-->
        <input
        type="number"
        name="tiempo_nivel"
        min="1"
        max="5" 
        >
      </td>
      <td><!--Buscado-->
        <input
        type="number"
        name="tiempo_buscado"
        min="1"
        max="5"
        >
      </td>
    </tr>
  </table>
  

  <div>
    <button type="submit" [disabled]="loading()">{{loading() ? 'Cargando...' : 'Registrar'}}</button>
  </div>
</form>
  