<div [formGroup]="form">
  <div formGroupName="preferences">
    <ion-text>
      <h1>Preferencias de compañeros</h1>
    </ion-text>

    <!-- Carrera preferida -->
    <ion-list>
      <ion-list-header>
        <ion-label>
          ¿Prefieres trabajar con compañeros de tu misma carrera, de otras carreras o te es indiferente?
        </ion-label>
      </ion-list-header>

      <ion-radio-group formControlName="professionWanted">
        <ion-item>
          <ion-radio id="sameCareer" value="Misma carrera" slot="start"></ion-radio>
          <ion-label>Solo compañeros de mi misma carrera</ion-label>
        </ion-item>

        <ion-item>
          <ion-radio id="otherCareers" value="Otras carreras" slot="start"></ion-radio>
          <ion-label>Solo compañeros de otras carreras</ion-label>
        </ion-item>

        <ion-item>
          <ion-radio id="indifferent" value="Indiferente" slot="start"></ion-radio>
          <ion-label>No me importa la carrera de mis compañeros</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <!-- Tipo de trabajo -->
    <ion-list>
      <ion-list-header>
        <ion-label>
          ¿Cómo prefieres trabajar en equipo?
        </ion-label>
      </ion-list-header>

      <ion-radio-group formControlName="styleWorkP">
        <ion-item>
          <ion-radio id="collaborative" value="Colaborativo" slot="start"></ion-radio>
          <ion-label>Trabajo colaborativo (todos aportan por igual).</ion-label>
        </ion-item>

        <ion-item>
          <ion-radio id="with-leader" value="Con líder definido" slot="start"></ion-radio>
          <ion-label>Trabajo con un líder definido (puedo liderar o seguir instrucciones).</ion-label>
        </ion-item>

        <ion-item>
          <ion-radio id="independent" value="Independiente" slot="start"></ion-radio>
          <ion-label>Trabajo independiente (cada miembro tiene una tarea asignada).</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <!-- Nivel de compromiso -->
    <ion-list>
      <ion-list-header>
        <ion-label>
          ¿Qué nivel de compromiso esperas de tus compañeros?
        </ion-label>
      </ion-list-header>

      <ion-radio-group formControlName="levelCommitment">
        <ion-item>
          <ion-radio id="high" value="Alto" slot="start"></ion-radio>
          <ion-label>Alto</ion-label>
        </ion-item>

        <ion-item>
          <ion-radio id="medium" value="Moderado" slot="start"></ion-radio>
          <ion-label>Moderado</ion-label>
        </ion-item>

        <ion-item>
          <ion-radio id="low" value="Bajo" slot="start"></ion-radio>
          <ion-label>Bajo</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>
</div>