<ion-content>
    <form [formGroup]="form">
      <div formGroupName="interests">
        <ion-list>
          <ion-list-header>
            <ion-title>Intereses en proyectos</ion-title>
          </ion-list-header>
          
          <ion-item>
            <ion-label>Desarrollo de software</ion-label>
            <ion-checkbox formControlName="softwareDevelop" slot="start"></ion-checkbox>
          </ion-item>
          
          <ion-item>
            <ion-label>Diseño gráfico y creativo</ion-label>
            <ion-checkbox formControlName="graphicDesignI" slot="start"></ion-checkbox>
          </ion-item>
          
          <ion-item>
            <ion-label>Construcción de máquinas o dispositivos electrónicos</ion-label>
            <ion-checkbox formControlName="construction" slot="start"></ion-checkbox>
          </ion-item>
          
          <ion-item>
            <ion-label>Análisis de datos</ion-label>
            <ion-checkbox formControlName="analysis" slot="start"></ion-checkbox>
          </ion-item>
          
          <ion-item>
            <ion-label>Investigación científica</ion-label>
            <ion-checkbox formControlName="investigation" slot="start"></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
    </form>
  </ion-content>