<div>
  <!-- Para propósitos de demostración, mostramos botones para ambos usuarios -->
  <!-- <div *ngIf="currentUser$ | async as currentUser">
    Solo mostrar el botón del otro usuario
    <button *ngIf="currentUser.uid !== 'yeRfZnKOkoYBUbCYtpRJMPwHs7v1'"
      (click)="startChat('yeRfZnKOkoYBUbCYtpRJMPwHs7v1', 'IsmaelP2007')">
      Chat con IsmaelP2007
    </button>
    <button *ngIf="currentUser.uid !== 'plcE9hTEInPPooU5z6xZLWoL8AM2'"
      (click)="startChat('plcE9hTEInPPooU5z6xZLWoL8AM2', 'fabianB94')">
      Chat con fabianB94
    </button>
  </div> -->

  <!-- <div >
    <img src="icons/fondo.png" style="padding-top: 20px;">
    
  </div> -->
  <swiper-container>

    <swiper-slide>
      <ion-card class="content-container ion-no-margin">
        <ion-card-content class="profile-section">
          <!-- Sección superior: Avatar y nombre -->
          <div class="profile-header">
            <ion-avatar class="profile-img">
              <ion-img src="icons/logo_tesis.png" alt="Profile"></ion-img>
            </ion-avatar>

            <ion-text>
              <h3>NombreUsuario</h3>
            </ion-text>

            <ion-text color="medium">
              <small>Nombre Apellido</small>
            </ion-text>
          </div>

          <!-- Sección central: Información -->
          <div class="info-section">
            <ion-text>
              <p>Carrera</p>
            </ion-text>

            <ion-text>
              <p>Curso</p>
            </ion-text>
          </div>

          <!-- Sección información del usuario -->
          <div>
            <!-- Informática -->
          <div *ngIf="userData?.carrera === 'Informatica'">
            <!-- Para segundos -->
            <div *ngIf="userData?.anioLectivo === 'Segundo' && formData">
              <p>Programación de aplicaciones: {{ formData.habilidad_ofrecida_seg?.informatica_seg_of?.programacion }}</p>
              <p>Construcción y programación de circuitos electrónicos: {{ formData.habilidad_ofrecida_seg?.informatica_seg_of?.soporte }}</p>
              <p>Diseño y desarrollo de páginas web: {{ formData.habilidad_ofrecida_seg?.informatica_seg_of?.web }}</p>
              <p>Configuración de sistemas operativos y redes de computadoras: {{ formData.habilidad_ofrecida_seg?.informatica_seg_of?.redes }}</p>
            </div>

            <!-- Para terceros -->
            <div *ngIf="userData?.anioLectivo === 'Tercero' && formData">
              <div>
                <p>Desarrollo de programas o aplicaciones: {{ formData.habilidad_ofrecida_ter?.informatica_ter_of?.programacion }}</p>
                <p>Manejo de herramientas de diseño como Illutrator, Photoshop, etc: {{ formData.habilidad_ofrecida_ter?.informatica_ter_of?.diseno }}</p>
                <p>Construcción y modelado de piezas en 3D: {{ formData.habilidad_ofrecida_ter?.informatica_ter_of?.cad }}</p>
              </div>
              <div *ngIf="userData?.mencion === 'Programacion movil'">
                <p>Construcción y programación de circuitos electrónicos: {{ formData.habilidad_ofrecida_ter?.informatica_ter_of?.soporte }}</p>
                <p>Programación de aplicaciones móviles: {{ formData.habilidad_ofrecida_ter?.informatica_ter_of?.movil }}</p>
              </div>
              <div *ngIf="userData?.mencion === 'Aplicaciones web'">
                <p>Diseño y desarrollo de páginas web: {{ formData.habilidad_ofrecida_ter?.informatica_ter_of?.web }}</p>
                <p>Configuración de sistemas operativos y redes de computadoras: {{ formData.habilidad_ofrecida_ter?.informatica_ter_of?.redes }}</p>
              </div>
            </div>
          </div>
          <!-- Ciencias -->
          <div></div>
          <!-- EMA -->
          <div></div>
          <!-- IEME -->
          <div></div>
          <!-- MCM -->
          <div></div>
          <!-- Mecatrónica -->
          <div></div>
          </div>
          

          <!-- Sección inferior: Botones -->
          <div class="buttons-container">
            <ion-button fill="solid" shape="round" mode="ios">
              <app-messages-icon></app-messages-icon>
            </ion-button>

            <ion-button>
              <app-heart-icon></app-heart-icon>
            </ion-button>

            <ion-button fill="solid" shape="round" mode="ios">
              <app-check-icon></app-check-icon>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </swiper-slide>

    <swiper-slide>
      <ion-card class="content-container ion-no-margin">
        <ion-card-content class="profile-section">
          <!-- Sección superior: Avatar y nombre -->
          <div class="profile-header">
            <ion-avatar class="profile-img">
              <ion-img src="icons/logo_tesis.png" alt="Profile"></ion-img>
            </ion-avatar>

            <ion-text>
              <h3>NombreUsuario</h3>
            </ion-text>

            <ion-text color="medium">
              <small>Nombre Apellido</small>
            </ion-text>
          </div>

          <!-- Sección central: Información -->
          <div class="info-section">
            <ion-text>
              <p>Carrera</p>
            </ion-text>

            <ion-text>
              <p>Curso</p>
            </ion-text>
          </div>

          <!-- Sección información del usuario -->
          <div>
            <!-- Informática -->
          <div *ngIf="userData?.carrera === 'Informatica'">
            <!-- Para segundos -->
            <div *ngIf="userData?.anioLectivo === 'Segundo' && formData">
              <p>Programación de aplicaciones: {{ formData.habilidad_ofrecida_seg?.informatica_seg_of?.programacion }}</p>
              <p>Construcción y programación de circuitos electrónicos: {{ formData.habilidad_ofrecida_seg?.informatica_seg_of?.soporte }}</p>
              <p>Diseño y desarrollo de páginas web: {{ formData.habilidad_ofrecida_seg?.informatica_seg_of?.web }}</p>
              <p>Configuración de sistemas operativos y redes de computadoras: {{ formData.habilidad_ofrecida_seg?.informatica_seg_of?.redes }}</p>
            </div>

            <!-- Para terceros -->
            <div *ngIf="userData?.anioLectivo === 'Tercero' && formData">
              <div>
                <p>Desarrollo de programas o aplicaciones: {{ formData.habilidad_ofrecida_ter?.informatica_ter_of?.programacion }}</p>
                <p>Manejo de herramientas de diseño como Illutrator, Photoshop, etc: {{ formData.habilidad_ofrecida_ter?.informatica_ter_of?.diseno }}</p>
                <p>Construcción y modelado de piezas en 3D: {{ formData.habilidad_ofrecida_ter?.informatica_ter_of?.cad }}</p>
              </div>
              <div *ngIf="userData?.mencion === 'Programacion movil'">
                <p>Construcción y programación de circuitos electrónicos: {{ formData.habilidad_ofrecida_ter?.informatica_ter_of?.soporte }}</p>
                <p>Programación de aplicaciones móviles: {{ formData.habilidad_ofrecida_ter?.informatica_ter_of?.movil }}</p>
              </div>
              <div *ngIf="userData?.mencion === 'Aplicaciones web'">
                <p>Diseño y desarrollo de páginas web: {{ formData.habilidad_ofrecida_ter?.informatica_ter_of?.web }}</p>
                <p>Configuración de sistemas operativos y redes de computadoras: {{ formData.habilidad_ofrecida_ter?.informatica_ter_of?.redes }}</p>
              </div>
            </div>
          </div>
          <!-- Ciencias -->
          <div></div>
          <!-- EMA -->
          <div></div>
          <!-- IEME -->
          <div></div>
          <!-- MCM -->
          <div></div>
          <!-- Mecatrónica -->
          <div></div>
          </div>
          

          <!-- Sección inferior: Botones -->
          <div class="buttons-container">
            <ion-button fill="solid" shape="round" mode="ios">
              <app-messages-icon></app-messages-icon>
            </ion-button>

            <ion-button>
              <app-heart-icon></app-heart-icon>
            </ion-button>

            <ion-button fill="solid" shape="round" mode="ios">
              <app-check-icon></app-check-icon>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </swiper-slide>

    <swiper-slide>
      <ion-card class="content-container ion-no-margin">
        <ion-card-content class="profile-section">
          <!-- Sección superior: Avatar y nombre -->
          <div class="profile-header">
            <ion-avatar class="profile-img">
              <ion-img src="icons/logo_tesis.png" alt="Profile"></ion-img>
            </ion-avatar>

            <ion-text>
              <h3>NombreUsuario</h3>
            </ion-text>

            <ion-text color="medium">
              <small>Nombre Apellido</small>
            </ion-text>
          </div>

          <!-- Sección central: Información -->
          <div class="info-section">
            <ion-text>
              <p>Carrera</p>
            </ion-text>

            <ion-text>
              <p>Curso</p>
            </ion-text>
          </div>

          <!-- Sección información del usuario -->
          <div>
            <!-- Informática -->
          <div *ngIf="userData?.carrera === 'Informatica'">
            <!-- Para segundos -->
            <div *ngIf="userData?.anioLectivo === 'Segundo' && formData">
              <p>Programación de aplicaciones: {{ formData.habilidad_ofrecida_seg?.informatica_seg_of?.programacion }}</p>
              <p>Construcción y programación de circuitos electrónicos: {{ formData.habilidad_ofrecida_seg?.informatica_seg_of?.soporte }}</p>
              <p>Diseño y desarrollo de páginas web: {{ formData.habilidad_ofrecida_seg?.informatica_seg_of?.web }}</p>
              <p>Configuración de sistemas operativos y redes de computadoras: {{ formData.habilidad_ofrecida_seg?.informatica_seg_of?.redes }}</p>
            </div>

            <!-- Para terceros -->
            <div *ngIf="userData?.anioLectivo === 'Tercero' && formData">
              <div>
                <p>Desarrollo de programas o aplicaciones: {{ formData.habilidad_ofrecida_ter?.informatica_ter_of?.programacion }}</p>
                <p>Manejo de herramientas de diseño como Illutrator, Photoshop, etc: {{ formData.habilidad_ofrecida_ter?.informatica_ter_of?.diseno }}</p>
                <p>Construcción y modelado de piezas en 3D: {{ formData.habilidad_ofrecida_ter?.informatica_ter_of?.cad }}</p>
              </div>
              <div *ngIf="userData?.mencion === 'Programacion movil'">
                <p>Construcción y programación de circuitos electrónicos: {{ formData.habilidad_ofrecida_ter?.informatica_ter_of?.soporte }}</p>
                <p>Programación de aplicaciones móviles: {{ formData.habilidad_ofrecida_ter?.informatica_ter_of?.movil }}</p>
              </div>
              <div *ngIf="userData?.mencion === 'Aplicaciones web'">
                <p>Diseño y desarrollo de páginas web: {{ formData.habilidad_ofrecida_ter?.informatica_ter_of?.web }}</p>
                <p>Configuración de sistemas operativos y redes de computadoras: {{ formData.habilidad_ofrecida_ter?.informatica_ter_of?.redes }}</p>
              </div>
            </div>
          </div>
          <!-- Ciencias -->
          <div></div>
          <!-- EMA -->
          <div></div>
          <!-- IEME -->
          <div></div>
          <!-- MCM -->
          <div></div>
          <!-- Mecatrónica -->
          <div></div>
          </div>
          

          <!-- Sección inferior: Botones -->
          <div class="buttons-container">
            <ion-button fill="solid" shape="round" mode="ios">
              <app-messages-icon></app-messages-icon>
            </ion-button>

            <ion-button>
              <app-heart-icon></app-heart-icon>
            </ion-button>

            <ion-button fill="solid" shape="round" mode="ios">
              <app-check-icon></app-check-icon>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </swiper-slide>

  </swiper-container>

  <ion-alert [isOpen]="!isFormComplete"
    message="Para personalizar tus recomendaciones, necesitamos conocerte mejor a través de un breve formulario"
    [buttons]="alertButtons" (didDismiss)="isFormComplete = true">
  </ion-alert>
</div>