<div [formGroup]="form">
  <h1>Habilidades generales para tu proyecto</h1>
  <p>Que habilidades buscas para tu proyenco (seleciona una o más)</p>

  <div formGroupName="wanted_profession">
    <div>
      <input type="checkbox" id="O1" formControlName="O1">
      <label for="O1">Circuitos eléctricos domésticos o industriales</label>
    </div>

    <div>
      <input type="checkbox" id="O2" formControlName="O2">
      <label for="O2">Construcción de piezas metálicas</label>
    </div>

    <div>
      <input type="checkbox" id="O3" formControlName="O3">
      <label for="O3">Mantenimiento y reparación automotriz</label>
    </div>

    <div>
      <input type="checkbox" id="O4" formControlName="O4">
      <label for="O4">Mecánica, electrónica y automatización</label>
    </div>

    <div>
      <input type="checkbox" id="O5" formControlName="O5">
      <label for="O5">Desarrollo de software web y/o móvil</label>
    </div>

    <div>
      <input type="checkbox" id="O6" formControlName="O6">
      <label for="O6">Conocimientos de la biología humana, animal y/o química</label>
    </div>
  </div>
</div>