<div *ngIf="userData?.anioLectivo === 'Segundo'">
  <div>
    <p>Desarrollo de programas o aplicaciones</p>
    <select id="programming">
      <option value="" disabled selected>Elige una opción</option>
      <option value="Alto">Alto</option>
      <option value="Medio selected">Medio</option>
      <option value="Bajo">Bajo</option>
    </select>
  </div>

  <div>
    <p>Construcción y programación de circuitos electrónicos</p>
    <select id="support">
      <option value="" disabled selected>Elige una opción</option>
      <option value="Alto">Alto</option>
      <option value="Medio selected">Medio</option>
      <option value="Bajo">Bajo</option>
    </select>
  </div>

  <div>
    <p>Diseño y desarrollo de páginas web</p>
    <select id="web">
      <option value="" disabled selected>Elige una opción</option>
      <option value="Alto">Alto</option>
      <option value="Medio selected">Medio</option>
      <option value="Bajo">Bajo</option>
    </select>
  </div>

  <div>
    <p>Configuración de sistemas operativos y redes de computadoras</p>
    <select id="networks">
      <option value="" disabled selected>Elige una opción</option>
      <option value="Alto">Alto</option>
      <option value="Medio selected">Medio</option>
      <option value="Bajo">Bajo</option>
    </select>
  </div>
</div>

<div *ngIf="userData?.anioLectivo === 'Tercero'">
  <div>
    <p>Desarrollo de programas o aplicaciones</p>
    <select id="programming1">
      <option value="" disabled selected>Elige una opción</option>
      <option value="Alto">Alto</option>
      <option value="Medio selected">Medio</option>
      <option value="Bajo">Bajo</option>
    </select>
  </div>

  <div>
    <p>Manejo de herramientas de diseño como Illutrator, Photoshop, etc</p>
    <select id="desing">
      <option value="" disabled selected>Elige una opción</option>
      <option value="Alto">Alto</option>
      <option value="Medio selected">Medio</option>
      <option value="Bajo">Bajo</option>
    </select>
  </div>

  <div>
    <p>Construcción y modelado de piezas en 3D</p>
    <select id="cad">
      <option value="" disabled selected>Elige una opción</option>
      <option value="Alto">Alto</option>
      <option value="Medio selected">Medio</option>
      <option value="Bajo">Bajo</option>
    </select>
  </div>

  <div>
    <p>Selecciona a que mención perteneces </p>
    <select id="mention">
      <option value="" disabled selected>Elige una opción</option>
      <option value="Medio selected">Programación Móvil</option>
      <option value="Bajo">Aplicaciones Web</option>
    </select>
  </div>

  <div>
    <div>
      <p>Construcción y programación de circuitos electrónicos</p>
      <select id="support1">
        <option value="" disabled selected>Elige una opción</option>
        <option value="Alto">Alto</option>
        <option value="Medio selected">Medio</option>
        <option value="Bajo">Bajo</option>
      </select>
    </div>

    <div>
      <p>Programación de aplicaciones móviles </p>
      <select id="mobile">
        <option value="" disabled selected>Elige una opción</option>
        <option value="Alto">Alto</option>
        <option value="Medio selected">Medio</option>
        <option value="Bajo">Bajo</option>
      </select>
    </div>
  </div>

  <div>
    <div>
      <p>Diseño y desarrollo de páginas web</p>
      <select id="web1">
        <option value="" disabled selected>Elige una opción</option>
        <option value="Alto">Alto</option>
        <option value="Medio selected">Medio</option>
        <option value="Bajo">Bajo</option>
      </select>
    </div>

    <div>
      <p>Configuración de sistemas operativos y redes de computadoras</p>
      <select id="networks1">
        <option value="" disabled selected>Elige una opción</option>
        <option value="Alto">Alto</option>
        <option value="Medio selected">Medio</option>
        <option value="Bajo">Bajo</option>
      </select>
    </div>
  </div>
</div>