<div>
  <ion-text>
    <p>En el área de MCM, califica las habilidades que buscas en las siguientes categorías:</p>
  </ion-text>

  <ion-list *ngIf="userData?.anioLectivo === 'Segundo'" formGroupName="wanted_skills_sec_mcm">
    <ion-item>
      <ion-label position="floating">Desarrollo de programas o aplicaciones</ion-label>
      <ion-select id="programming" formControlName="programing">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Construcción y programación de circuitos electrónicos</ion-label>
      <ion-select id="support" formControlName="support">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Diseño y desarrollo de páginas web</ion-label>
      <ion-select id="web" formControlName="web">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Configuración de sistemas operativos y redes de computadoras</ion-label>
      <ion-select id="networks" formControlName="networks">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="userData?.anioLectivo === 'Tercero'" formGroupName="wanted_skills_third_mcm">
    <ion-item>
      <ion-label position="floating">Medición precisa y armado de piezas mecánicas</ion-label>
      <ion-select id="metrology" formControlName="metrology" placeholder="Elige una opción">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Manejo de herramientas manuales para trabajar metales </ion-label>
      <ion-select id="metallurgy" formControlName="metallurgy" placeholder="Elige una opción">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Unión de piezas metálicas con distintos tipos de soldadura</ion-label>
      <ion-select id="weldingMcm" formControlName="weldingMcm" placeholder="Elige una opción">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Manejo de máquinas fresadoras y rectificadoras</ion-label>
      <ion-select id="milling" formControlName="milling" placeholder="Elige una opción">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Operación de tornos para fabricar piezas</ion-label>
      <ion-select id="lathe" formControlName="lathe" placeholder="Elige una opción">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Trabajo con sistemas de aire a presión</ion-label>
      <ion-select id="pneumatics" formControlName="pneumatics" placeholder="Elige una opción">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Verificación de calidad en piezas fabricadas</ion-label>
      <ion-select id="manufacturingMcm" formControlName="manufacturingMcm" placeholder="Elige una opción">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Lectura e interpretación de planos mecánicos</ion-label>
      <ion-select id="drawingMcm" formControlName="drawingMcm" placeholder="Elige una opción">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Programación básica de máquinas automáticas  </ion-label>
      <ion-select id="automationMcm" formControlName="automationMcm" placeholder="Elige una opción">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Diseño y construcción de mecanismos y partes de máquinas </ion-label>
      <ion-select id="machinesMcm" formControlName="machinesMcm" placeholder="Elige una opción">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fabricación de moldes y matrices para producción industrial</ion-label>
      <ion-select id="molds" formControlName="molds" placeholder="Elige una opción">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Medio">Medio</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</div>