<div class="chat">
  <div class="chat-title">
    <a (click)="goBack()" style="cursor: pointer;"><app-back-icon class="back-icon"></app-back-icon></a>
    <div class="title-container">
      <h1>Nombre</h1>
      <h2>En linea/Desconectado</h2>
    </div>
    <figure class="avatar">
      <img />
    </figure>
  </div>

  <div class="messages">
    <div class="messages-content"></div>
  </div>

  <div class="message-box">
    <input type="text" name="mensaje" [(ngModel)]="mensaje" placeholder="Enviar mensaje" class="message-input">

    <button class="message-submit" (click)="enviar_mensaje()">Send</button>
  </div>
</div>