<ion-content class="ion-padding">
  <section>
    <div>
      <h1>Inicia sesión</h1>

      <div class="google-button-container">
        <app-google-button (onClick)="submitWithGoogle()"></app-google-button>
      </div>

      <form [formGroup]="form" (ngSubmit)="submit()">
        <div>
          <ion-label position="stacked" for="email">Correo</ion-label>
          <div class="input-with-icon">
            <ion-input type="email" name="email" id="email" placeholder="usuario@gmail.com" formControlName="email"
              [clearInput]="true"></ion-input>
          </div>
          <small *ngIf="isRequired('email')">Este campo es requerido</small>
          <small *ngIf="hasEmailError()">Correo invalido</small>
        </div>

        <div>
          <ion-label position="stacked" for="password">Contraseña</ion-label>
          <div class="input-with-icon">
            <ion-input [type]="passwordInputType" name="password" id="password" placeholder="••••••••"
              formControlName="password" [clearInput]="true"></ion-input>
            <button type="button" class="toggle-password"
              (click)="$event.preventDefault(); $event.stopPropagation(); togglePasswordVisibility()">
              <app-eye-button />
            </button>
          </div>
          <small *ngIf="isRequired('password')">Este campo es requerido</small>
        </div>

        <div class="forgot-password">
          <ion-button fill="clear" color="medium" routerLink="/auth/forgot-password">
            Olvidaste tu contraseña?
          </ion-button>
        </div>

        <ion-button type="submit" expand="block">Iniciar</ion-button>

        <p>
          No tienes una cuenta? <a routerLink="/auth/sign-up">Registrarse</a>
        </p>
      </form>
    </div>
  </section>
</ion-content>