<section>
    <div>
        <div>
            <div>
                <div>
                    <h1>Inicia sesión</h1>
                    <app-google-button (onClick)="submitWithGoogle()" />
                </div>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="ola">
                        <label for="email">Correo</label>
                        <input 
                        type="email"
                        name="email" 
                        id="email"  
                        placeholder="name@company.com" 
                        formControlName="email"
                        >
                        <small *ngIf="isRequired('email')">Este campo es requerido</small>
                        <small *ngIf="hasEmailError()">Correo invalido</small>
                    </div>

                    <div>
                        <label for="password">Contraseña</label>
                        <input 
                        type="password" 
                        name="password" 
                        id="password" 
                        placeholder="••••••••" 
                        formControlName="password"
                        >
                        
                        <small *ngIf="isRequired('password')">Este campo es requerido</small>
                    </div>

                    <div>
                        <a href="#">Olvidaste tu contraseña?</a>
                    </div>

                    <button type="submit">Iniciar</button>
                    <p>
                        No tienes una cuenta? 
                        <a 
                        routerLink="/auth/sign-up"
                        >Registrarse</a>
                    </p>

                </form>
            </div>
        </div>
    </div>
  </section>