<section class="login-section">
  <div class="login-container">
    <div>
      <div>
        <div class="avatar">
          <img src="avatar.png" alt="Avatar" />
        </div>
        <h1>Inicia sesión</h1>
        <div class="google-button-container">
          <app-google-button (onClick)="submitWithGoogle()"></app-google-button>
        </div>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="input-container">
            <input 
              type="email"
              name="email" 
              id="email"  
              placeholder="usuario@gmail.com" 
              formControlName="email"
            >
            <small *ngIf="isRequired('email')">Este campo es requerido</small>
            <small *ngIf="hasEmailError()">Correo invalido</small>
          </div>

          <div class="input-container">
            <input 
              [type]="passwordInputType"
              name="password" 
              id="password" 
              placeholder="••••••••" 
              formControlName="password"
            >
            <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
              <app-eye-button />
            </button>
          </div>

          <div class="options">
            <label><input type="checkbox" /> Recuérdame</label>
            <a routerLink="/auth/forgot-password">Olvidaste tu contraseña?</a>
          </div>

          <button type="submit">Iniciar</button>
          <p>
            No tienes una cuenta? 
            <a routerLink="/auth/sign-up">Registrarse</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>

  