<div [formGroup]="form">
  <ion-text>
    <h1>Preferencias Generales</h1>
  </ion-text>

  <ion-list>
    <!-- Horario de disponibilidad -->
    <ion-text>
      <p>Horario de disponibilidad preferido (seleccionar uno o más)</p>
    </ion-text>
    
    <div formGroupName="schedule">
      <ion-item button (click)="toggleCheckbox('Q1O1')">
        <ion-checkbox #checkbox1 slot="start" formControlName="Q1O1"></ion-checkbox>
        <ion-label>Durante el almuerzo</ion-label>
      </ion-item>

      <ion-item button (click)="toggleCheckbox('Q1O2')">
        <ion-checkbox #checkbox2 slot="start" formControlName="Q1O2"></ion-checkbox>
        <ion-label>Tardes después de clases</ion-label>
      </ion-item>

      <ion-item button (click)="toggleCheckbox('Q1O3')">
        <ion-checkbox #checkbox3 slot="start" formControlName="Q1O3"></ion-checkbox>
        <ion-label>Fines de semana por la mañana</ion-label>
      </ion-item>

      <ion-item button (click)="toggleCheckbox('Q1O4')">
        <ion-checkbox #checkbox4 slot="start" formControlName="Q1O4"></ion-checkbox>
        <ion-label>Fines de semana por la tarde</ion-label>
      </ion-item>
    </div>

    <!-- Método de trabajo -->
    <ion-text>
      <p>Método de trabajo preferido</p>
    </ion-text>

    <ion-radio-group formControlName="method">
      <ion-item button (click)="selectRadioOption('method', 'presencial')">
        <ion-radio slot="start" value="presencial"></ion-radio>
        <ion-label>Solo presencial</ion-label>
      </ion-item>

      <ion-item button (click)="selectRadioOption('method', 'virtual')">
        <ion-radio slot="start" value="virtual"></ion-radio>
        <ion-label>Solo virtual</ion-label>
      </ion-item>

      <ion-item button (click)="selectRadioOption('method', 'ambos')">
        <ion-radio slot="start" value="ambos"></ion-radio>
        <ion-label>Ambos</ion-label>
      </ion-item>
    </ion-radio-group>

    <!-- Nivel de dedicación -->
    <ion-text>
      <p>Nivel de dedicación al proyecto</p>
    </ion-text>

    <ion-radio-group formControlName="hours">
      <ion-item button (click)="selectRadioOption('hours', '1-3')">
        <ion-radio slot="start" value="1-3"></ion-radio>
        <ion-label>1-3 horas diarias</ion-label>
      </ion-item>

      <ion-item button (click)="selectRadioOption('hours', '4-6')">
        <ion-radio slot="start" value="4-6"></ion-radio>
        <ion-label>4-6 horas diarias</ion-label>
      </ion-item>

      <ion-item button (click)="selectRadioOption('hours', 'flexible')">
        <ion-radio slot="start" value="flexible"></ion-radio>
        <ion-label>Flexible según necesidad</ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</div>