<div [formGroup]="form">
  <h1>Preferencias Generales</h1>
  <div>
    <p>Horario de disponibilidad preferido (seleccionar uno o más)</p>
    <div formGroupName="schedule">
      <div>
        <input type="checkbox" id="Q1O1" formControlName="Q1O1">
        <label for="Q1O1">Durante el almuerzo</label>
      </div>
      
      <div>
        <input type="checkbox" id="Q1O2" formControlName="Q1O2">
        <label for="Q1O2">Tardes después de clases</label>
      </div>

      <div>
        <input type="checkbox" id="Q1O3" formControlName="Q1O3">
        <label for="Q1O3">Fines de semana por la mañana</label>
      </div>

      <div>
        <input type="checkbox" id="Q1O4" formControlName="Q1O4">
        <label for="Q1O4">Fines de semana por la tarde</label>
      </div>
    </div>
  </div>

  <div>
    <p>Método de trabajo preferido</p>
    <div>
      <input type="radio" id="Q2O1" formControlName="method" value="presencial">
      <label for="Q2O1">Solo presencial</label>
    </div>

    <div>
      <input type="radio" id="Q2O2" formControlName="method" value="virtual">
      <label for="Q2O2">Solo virtual</label>
    </div>

    <div>
      <input type="radio" id="Q2O3" formControlName="method" value="ambos">
      <label for="Q2O3">Ambos</label>
    </div>
  </div>

  <div>
    <p>Nivel de dedicación al proyecto</p>

    <div>
      <input type="radio" id="hours" formControlName="hours" value="1-3">
      <label for="Q3O1">1-3 horas diarias</label>
    </div>
    
    <div>
      <input type="radio" id="hours" formControlName="hours" value="4-6">
      <label for="Q3O2">4-6 horas diarias</label>
    </div>
    
    <div>
      <input type="radio" id="hours" formControlName="hours" value="flexible">
      <label for="Q3O3">Flexible según necesidad</label>
    </div>
  </div>
</div>