<div [formGroup]="form">
  <ion-text>
    <h1>Datos personales</h1>
  </ion-text>

  <ion-list>
    <!-- Username -->
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input id="username" type="text" formControlName="username"></ion-input>
    </ion-item>
    <div *ngIf="form.controls['username'].invalid && form.controls['username'].touched">
      <ion-text color="danger">
        <small>Este campo es obligatorio</small>
      </ion-text>
    </div>

    <!-- Name -->
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input id="name" type="text" formControlName="name"></ion-input>
    </ion-item>
    <div *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
      <ion-text color="danger">
        <small>Este campo es obligatorio</small>
      </ion-text>
    </div>

    <!-- Last Name -->
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input id="lastName" type="text" formControlName="lastName"></ion-input>
    </ion-item>
    <div *ngIf="form.controls['lastName'].invalid && form.controls['lastName'].touched">
      <ion-text color="danger">
        <small>Este campo es obligatorio</small>
      </ion-text>
    </div>

    <!-- Course -->
    <ion-item>
      <ion-label position="floating">Nivel</ion-label>
      <ion-select id="course" formControlName="course">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="Primero">Primero</ion-select-option>
        <ion-select-option value="Segundo">Segundo</ion-select-option>
        <ion-select-option value="Tercero">Tercero</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="form.controls['course'].invalid && form.controls['course'].touched">
      <ion-text color="danger">
        <small>Este campo es obligatorio</small>
      </ion-text>
    </div>

    <!-- Profession -->
    <ion-item>
      <ion-label position="floating">Carrera</ion-label>
      <ion-select id="profession" formControlName="profession">
        <ion-select-option value="" disabled selected>Elige una opción</ion-select-option>
        <ion-select-option value="IEME">IEME</ion-select-option>
        <ion-select-option value="MCM">MCM</ion-select-option>
        <ion-select-option value="EMA">EMA</ion-select-option>
        <ion-select-option value="Mecatrónica">Mecatrónica</ion-select-option>
        <ion-select-option value="Informática">Informática</ion-select-option>
        <ion-select-option value="Ciencias">Ciencias</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="form.controls['profession'].invalid && form.controls['profession'].touched">
      <ion-text color="danger">
        <small>Este campo es obligatorio</small>
      </ion-text>
    </div>
  </ion-list>
</div>