<body>
    <div class="chat-container">
        <div class="chat-title">Chats</div>
        <div>
            <form>
                <div class="fx fx-gap">
                    <div class="search-input">
                        <input type="text" placeholder="Buscar" required />
                    </div>
                    <div>
                        <button type="submit">
                            <app-recomendatio-icon />
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>